<conf name="dbup_conf" version="1.0">
	<dline_conf name="ctrm_1">
		<redis_conf name="redis" host="10.16.34.16" port="60090" />
		<commitlog_conf name="commitlog" host="192.168.230.104"
			port="14561" topic="onlinecontent" />
		<index_conf name="index" host="10.16.10.204" port="60112" />
		<mysql_conf name="mysql_1" readhost="10.16.17.64" writehost="10.16.17.63"
			feat_table="cms_news_feat" wdx_table="cms_news_wdx" />
		<ctr_conf name="ctr" moddir="/opt/rec-c/weight/model1" />
	</dline_conf>
	<dline_conf name="ctrm_2">
		<redis_conf name="redis" host="10.16.34.20" port="60092" />
		<commitlog_conf name="commitlog" host="192.168.230.104"
			port="14561" topic="testcontent" />
		<index_conf name="index" host="10.16.10.218" port="60114" />
		<mysql_conf name="mysql_2" readhost="10.16.17.64" writehost="10.16.17.63"
			feat_table="cms_news_feat2" wdx_table="cms_news_wdx2" />
		<ctr_conf name="ctr" moddir="/opt/rec-c/weight/model2" />
	</dline_conf>
</conf>