<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="300">
    <Properties>
        <property name="service_name">adu-test</property>
        <property name="location_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %t %p %c{1.}:%L - %m%n</property>
        <property name="no_location_pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %t %p %c{1.} - %m%n</property>
        <property name="log_home">./logs</property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${location_pattern}" />
        </Console>

        <!-- DEBUG begin -->
        <RollingRandomAccessFile name="DEBUG" fileName="${log_home}/debug.log"
                                 filePattern="${log_home}/$${date:yyyy-MM}/debug.log.%d{yyyy-MM-dd}.log.gz">
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL" /><!-- info及以上的拒绝，以下的交由下一个filter -->
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" /><!-- 到这里，只剩debug及以下的。debug的accept，其他的直接拒绝。从而实现只接收debug日志。 -->
            </Filters>

            <PatternLayout pattern="${location_pattern}" />

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <!-- DEBUG end -->

        <!-- INFO begin -->
        <RollingRandomAccessFile name="INFO" fileName="${log_home}/info.log"
                                 filePattern="${log_home}/$${date:yyyy-MM}/info.log.%d{yyyy-MM-dd}.log">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>

            <PatternLayout pattern="${location_pattern}" />

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <!-- INFO end -->

        <!-- WARN begin -->
        <RollingRandomAccessFile name="WARN" fileName="${log_home}/warn.log"
                                 filePattern="${log_home}/$${date:yyyy-MM}/warn.log.%d{yyyy-MM-dd}.log">
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>

            <PatternLayout pattern="${location_pattern}" />

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <!-- WARN end -->

        <!-- ERROR begin -->
        <RollingRandomAccessFile name="ERROR" fileName="${log_home}/error.log"
                                 filePattern="${log_home}/$${date:yyyy-MM}/error.log.%d{yyyy-MM-dd}.log">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT"	onMismatch="DENY" />
            </Filters>

            <PatternLayout pattern="${location_pattern}" />

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingRandomAccessFile>
        <!-- ERROR end -->
    </Appenders>

    <Loggers>
        <asyncRoot level="DEBUG" includeLocation="true">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="DEBUG" />
            <AppenderRef ref="INFO" />
            <AppenderRef ref="WARN" />
            <AppenderRef ref="ERROR" />
        </asyncRoot>
    </Loggers>
</Configuration>
